#liquidacion_de_sueldo{
    width: 2550px;
    height: 3300px;
}
.main-sidebar, 
.left-side,
.main-header,
.main-footer,
.content-header,
.nav-tabs,
.box-header,
.box-footer{
    display: none;
}

.content-wrapper{
    width: 100%;
    margin: 0 !important;
}