html, body{
    margin: 0;
    padding: 0px;
    height: 100%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    color: #007cc6;
}

.clear{
    clear: both;
}

.btn_back{
    display: block;
    padding: 3px 10px;
    background: #007cc6;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    float: right;
    font-size: 12px;
    margin: 10px 0;
}

.container{
    margin: 0 auto;
    position: relative;
    padding: 35px;
}

header{
    display: block;
    border-bottom: 2px solid #007cc6;
    overflow: hidden;
}

header .logo{
    float: left;
}

header .logo a{
    display: block;
    width: 268px;
    height: 59px;
    text-indent: -99999px;
    background: url(../img/logo.png);
    background-size: 100%;
}

header h2{
    float: right;
    font-size: 30px;
    font-weight: 300;
}

h3{
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    display: block;
}

.list ul{
    width: 480px;
    list-style: none;
    margin: 80px auto 0;
    padding: 0;
    border-right: 1px solid #b1c5dc;
    border-left: 1px solid #b1c5dc;
    padding: 0 100px
}

.list ul li{
    margin: 10px auto;
}

.list ul li a{
    color: #007cc6;
    font-size: 18px;
    text-decoration: none;
}


.videoWrapper {
	position: relative;
	height: 578px;
    width: 1024px;
    margin: 20px auto;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* RESPONSIVO */
@media screen and (max-width:1024px) {
    .videoWrapper {
        width: 96%;
        margin: 10px auto;
    }
}
@media screen and (max-width:960px) {
    .videoWrapper {
        height: 460px;
    }
}
@media screen and (max-width:480px) {
    .videoWrapper {
        height: 260px
    }
}
@media screen and (max-width:320px) {
    .videoWrapper {
        height: 170px
    }
}


@media screen and (max-width:480px) {
    .container{
        width: 96%;
        margin: 0 auto;
        position: relative;
        padding: 0
    }

    header .logo a{
        width: 150px;
        height: 33px;
    }
    header h2{
        font-size: 18px;
        padding-top: 12px
    }

    .list ul{
        width: 92%;
        margin: 30px auto;
        padding: 0 4%;
    }

}
